# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
venv/
.env/
.env.*
.venv/

# Conda
conda-meta/
*.conda
*.lock

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Build
build/
dist/
*.egg-info/

app/test.ipynb
./company_root_ca.pem

