# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  imageName : hwangjaesick/axtft
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build (with cache)
      inputs:
        command: build
        containerRegistry: dockerhub-connection
        repository: hwangjaesick/axtft
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        arguments: |
          --cache-from=hwangjaesick/axtft:latest
        tags: |
          $(Build.BuildId)
          latest

    - task: Docker@2
      displayName: Push
      inputs:
        command: push
        containerRegistry: dockerhub-connection
        repository: hwangjaesick/axtft
        tags: |
          $(Build.BuildId)
          latest
